@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz!</h1>
    <p>Bu uygulama üzerinde yer alan API servislerini kullanarak bir ekran oluşturmanız beklenmektedir.</p>
    <p>Düzenleyeceğiniz ekran "/wwwroot/frontend.html".</p>
    <p>API servisleri dokumanina "https://localhost:44348/swagger" adresinden ulasabilirsiniz.</p>
</div>
